﻿@model IEnumerable<WebApplication2.Models.Dress>

@{
    ViewBag.Title = "Index";
}

<h2>Dresses</h2>


<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


    th, td {
        text-align: left;
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4a4646;
        color: white;
    }
</style>
<p>
<table style="width:100%">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdDress }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdDress }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdDress })
            </td>
        </tr>
    }

</table>
</p>

<style>
    .button {
        background-color:#4a4646; 
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        padding: 10px 40px;
    }

   
</style>
<p>
    
    @if (@ViewBag.IsInRole)
    {
        <button class="button button1" onclick="location.href='@Url.Action( "Create")'">
            Create New
        </button>
    } 
</p>

